

*{
    margin:0;
    padding:0;
}
.wrapper{
 background-color:#000000;
 width:100%;
}
 .container{
     background-color: #ffde00;
     width:960px;
     margin:0 auto;
 }
 header{
     padding:20px;

 }
 .logo{
     padding-bottom:20px;
 }
 ul li{
     list-style-type:none;
 }
 nav ul li a{
     text-decoration:none;
 }
 nav ul li{
     display:inline-block;
     padding:25px;
 }
 h4{
     padding-bottom: 30px;
     
 }
 .content{
     padding:30px;
 }
 .content{
     width:39%;
     float:left;
     padding:50px;
 }
 .fix::after{
     content:"";
     display:block;
     clear:both;
 }
 footer{
     text-align: center;
     background-color: #2f2f29;
   padding:20px 0;
 }
 .banner img{
    max-width: 960px;
 }